<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSocket demo</title>
</head>
<body>
    <p>
        Привет, <%= user.name %>!
    </p>
    <p>Вывод осуществляется в консоль!</p>    
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    
    <script>

        (()=>{
            
            const socket = io.connect('http://localhost:8080');
        
            const chatId ='65f95bd61095f7b390da2ea7'; // номер обращения в Поддержку
        
            socket.on('connect', function() {
                console.log('Connected');        
                socket.emit('subscribeToChat', { chatId }, response =>
                  console.log('Subscribed to chat:', response),
                );
              });
        
            socket.on('chat.msgToClient', (data)=>{
                console.log('Новое сообщение:', data);
            } )

            socket.on('chat.exception', function(data) {
            console.log('Ошибка!', data);
            });

            socket.on('disconnect', function() {
              console.log('Disconnected');
            });
        
        })();
        
    </script>
                
</body>
</html>